In [5]:
# importing necessary libraries
from time import process_time
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
import random
import math
from scipy import sparse
from scipy.sparse import random
from scipy import stats
from numpy.random import default_rng
from sklearn.preprocessing import normalize
import numpy as np
import pandas as pd

In [2]:
# importing algorithm functions
import sys
sys.path.insert(1, '/Users/jennytran/Documents/GitHub/gko-23/scripts/functions')
from gk import gk
from mwrko import mwrko
from gko import gko

### Uniform Distribution in [c,1]

In [11]:
#uniform
c_lst = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
gk_iter = []
gko_iter = []
mwrko_iter = []
gk_cpulst = []
gko_cpulst = []
mwrko_cpulst = []

for c in c_lst:
    print(c)
    A = np.random.uniform(low = c, high = 1, size = (1000,500))
    A = normalize(A, axis=1, norm='l2')
    x = np.ones(500)
    y = A @ x
    
    # gk
    gk_start_cyclic = process_time()
    gk_uniform = gk(A,x,y, 0.5*10**(-8))
    gk_stop_cyclic = process_time()
    # gko
    gko_start_cyclic = process_time()
    gko_uniform = gko(A,x,y, 0.5*10**(-8))
    gko_stop_cyclic = process_time()
    # mwrko
    mwrko_start_cyclic = process_time()
    mwrko_uniform = mwrko(A,x,y, 0.5*10**(-8))
    mwrko_stop_cyclic = process_time()
    
    # cpu data
    gk_cpu = gk_stop_cyclic - gk_start_cyclic
    gko_cpu = gko_stop_cyclic - gko_start_cyclic
    mwrko_cpu = mwrko_stop_cyclic - mwrko_start_cyclic
    
    #append
    gk_iter.append(gk_uniform[0])
    gko_iter.append(gko_uniform[0])
    mwrko_iter.append(mwrko_uniform[0])
    gk_cpulst.append(gk_cpu)
    gko_cpulst.append(gko_cpu)
    mwrko_cpulst.append(mwrko_cpu)

0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [12]:
df_iter = pd.DataFrame()
df_iter['c'] = c_lst
df_iter['GK'] = gk_iter
df_iter['GKO'] = gko_iter
df_iter['MWRKO'] = mwrko_iter
df_iter

     c       GK   GKO  MWRKO
0  0.1    38250  4770   5284
1  0.2    51479  4346   4350
2  0.3    75963  4058   4257
3  0.4   114215  3848   3903
4  0.5   177936  3946   4408
5  0.6   255699  3486   4011
6  0.7   520015  3554   3834
7  0.8  1115899  2994   3355
8  0.9  4034983  2626   2934

In [13]:
df_cpu = pd.DataFrame()
df_cpu['c'] = c_lst
df_cpu['GK'] = gk_cpulst
df_cpu['GKO'] = gko_cpulst
df_cpu['MWRKO'] = mwrko_cpulst
df_cpu

     c           GK       GKO     MWRKO
0  0.1    20.110984  3.918230  2.719391
1  0.2    28.370522  3.841380  2.826387
2  0.3    38.359370  3.536538  2.265543
3  0.4    57.449747  3.323127  2.416962
4  0.5    88.531779  3.125690  2.452117
5  0.6   119.253683  2.512447  2.070955
6  0.7   256.823370  3.046739  2.024757
7  0.8   536.524962  4.978471  1.736041
8  0.9  1930.878511  2.158712  1.494975