In [1]:
# importing necessary libraries
from time import process_time
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
import random
import math
from scipy import sparse
from scipy.sparse import random
from scipy import stats
from numpy.random import default_rng
from sklearn.preprocessing import normalize
import numpy as np
import pandas as pd

In [11]:
# importing algorithm functions
import sys
sys.path.insert(1, '/Users/jennytran/Documents/GitHub/gko-23/scripts/functions')
from gk import gk
from mwrko import mwrko
from gko import gko
from method import method

SyntaxError: invalid syntax (method.py, line 28)

### Uniform Distribution in [c,1]

In [3]:
#uniform
c_lst = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
gk_iter = []
gko_iter = []
mwrko_iter = []
gk_cpulst = []
gko_cpulst = []
mwrko_cpulst = []

for c in c_lst:
    print(c)
    A = np.random.uniform(low = c, high = 1, size = (1000,500))
    A = normalize(A, axis=1, norm='l2')
    x = np.ones(500)
    y = A @ x
    
    # gk
    gk_start_cyclic = process_time()
    gk_uniform = gk(A,x,y, 0.5*10**(-8))
    gk_stop_cyclic = process_time()
    # gko
    gko_start_cyclic = process_time()
    gko_uniform = gko(A,x,y, 0.5*10**(-8))
    gko_stop_cyclic = process_time()
    # mwrko
    mwrko_start_cyclic = process_time()
    mwrko_uniform = mwrko(A,x,y, 0.5*10**(-8))
    mwrko_stop_cyclic = process_time()
    
    # cpu data
    gk_cpu = gk_stop_cyclic - gk_start_cyclic
    gko_cpu = gko_stop_cyclic - gko_start_cyclic
    mwrko_cpu = mwrko_stop_cyclic - mwrko_start_cyclic
    
    #append
    gk_iter.append(gk_uniform[0])
    gko_iter.append(gko_uniform[0])
    mwrko_iter.append(mwrko_uniform[0])
    gk_cpulst.append(gk_cpu)
    gko_cpulst.append(gko_cpu)
    mwrko_cpulst.append(mwrko_cpu)

0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [4]:
df_iter = pd.DataFrame()
df_iter['c'] = c_lst
df_iter['GK'] = gk_iter
df_iter['GKO'] = gko_iter
df_iter['MWRKO'] = mwrko_iter
df_iter

     c       GK   GKO  MWRKO
0  0.1    40190  4386   4443
1  0.2    55183  4461   4441
2  0.3    77773  4335   4291
3  0.4   122264  4435   4511
4  0.5   165298  3747   4058
5  0.6   260001  3565   3576
6  0.7   518891  3405   3781
7  0.8  1254566  3355   3416
8  0.9  4912551  3038   2812

In [5]:
df_cpu = pd.DataFrame()
df_cpu['c'] = c_lst
df_cpu['GK'] = gk_cpulst
df_cpu['GKO'] = gko_cpulst
df_cpu['MWRKO'] = mwrko_cpulst
df_cpu

     c           GK       GKO     MWRKO
0  0.1    15.835825  2.566544  1.984048
1  0.2    20.208198  2.491765  1.766986
2  0.3    28.598573  2.678645  1.766553
3  0.4    49.585894  2.565914  1.808071
4  0.5    57.849487  2.133851  1.715374
5  0.6    94.225864  2.034388  1.391927
6  0.7   189.179902  2.648795  1.580171
7  0.8   456.814728  2.005286  1.407854
8  0.9  2382.632809  1.817583  1.283714