In [3]:
# importing necessary libraries
from time import process_time
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
import random
import math
from scipy import sparse
from scipy.sparse import random
from scipy import stats
from numpy.random import default_rng
from sklearn.preprocessing import normalize
import numpy as np
import pandas as pd

In [4]:
# importing algorithm functions
import sys
sys.path.insert(1, '../functions')
from gk import gk
from mwrko import mwrko
from gko import gko
from method import method

# Synthetic Experiment: Uniform Distribution in $[c,1]$

In this experiment, we test GK, GKO, and MWRKO on the Uniform iid systems. Each algorithm is run 9 trials where each trial, we adjust the lower bound $c$ of the uniform distribution ($X \sim Unif(c,1)$)

In [5]:
#uniform
c_lst = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
gk_iter = []
gko_iter = []
mwrko_iter = []
gk_cpulst = []
gko_cpulst = []
mwrko_cpulst = []

for c in c_lst:
    print(c)
    A = np.random.uniform(low = c, high = 1, size = (1000,500))
    A = normalize(A, axis=1, norm='l2')
    x = np.ones(500)
    y = A @ x
    
    # gk
    gk_start_cyclic = process_time()
    gk_uniform = gk(A,x,y, 0.5*10**(-8))
    gk_stop_cyclic = process_time()
    # gko
    gko_start_cyclic = process_time()
    gko_uniform = gko(A,x,y, 0.5*10**(-8))
    gko_stop_cyclic = process_time()
    # mwrko
    mwrko_start_cyclic = process_time()
    mwrko_uniform = mwrko(A,x,y, 0.5*10**(-8))
    mwrko_stop_cyclic = process_time()
    
    # cpu data
    gk_cpu = gk_stop_cyclic - gk_start_cyclic
    gko_cpu = gko_stop_cyclic - gko_start_cyclic
    mwrko_cpu = mwrko_stop_cyclic - mwrko_start_cyclic
    
    #append
    gk_iter.append(gk_uniform[0])
    gko_iter.append(gko_uniform[0])
    mwrko_iter.append(mwrko_uniform[0])
    gk_cpulst.append(gk_cpu)
    gko_cpulst.append(gko_cpu)
    mwrko_cpulst.append(mwrko_cpu)

0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [9]:
df_iter = pd.DataFrame()
df_iter['c'] = c_lst
df_iter['GK'] = gk_iter
df_iter['GKO'] = gko_iter
df_iter['MWRKO'] = mwrko_iter
df_iter

     c       GK   GKO  MWRKO
0  0.1    39987  4828   4839
1  0.2    56145  4446   4442
2  0.3    72777  4380   4222
3  0.4   113718  4012   4277
4  0.5   164526  4114   3793
5  0.6   290650  3566   3784
6  0.7   471498  3698   3871
7  0.8  1148184  3111   3304
8  0.9  4328182  2678   2744

In [8]:
df_cpu = pd.DataFrame()
df_cpu['c'] = c_lst
df_cpu['GK'] = gk_cpulst
df_cpu['GKO'] = gko_cpulst
df_cpu['MWRKO'] = mwrko_cpulst
df_cpu

     c          GK       GKO     MWRKO
0  0.1    1.864570  0.306254  0.238407
1  0.2    2.570475  0.278869  0.218958
2  0.3    3.390027  0.278667  0.225157
3  0.4    5.182001  0.253958  0.208194
4  0.5    7.469515  0.261362  0.185473
5  0.6   13.223435  0.223739  0.188121
6  0.7   21.355974  0.232609  0.191164
7  0.8   52.062650  0.195844  0.160332
8  0.9  196.230792  0.171494  0.136394